.single-character-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 61px;
}
  
.title-character-name {
    font-family: 'Poppins', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem; 
    font-weight: 700; 
    line-height: 1.2; 
    color: #333; 
    letter-spacing: 0.05em; 
    text-transform: capitalize; 
    margin-bottom: 20px;
}
  
.character-card {
    background-color: white;
    border: none;
    text-align: center;
    width: 100%;
}
  
.character-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.info-card {
    background-color: #ffffff;
    border: none;
    padding: 20px;
     
    .card-body {
        padding: 10px;
    }
}
  
.location-button {
    font-size: 1rem;
    color: #0dcaf0;
  
    &:hover {
        color: #000;
    }
}
  
.episodes-card-single {
    background-color: #ffffff;
    border: none;
    padding: 20px;
}

.episodes-card {
    .episodes-title {
        font-size: 1.2rem;
        color: #333;
        padding: 10px 30px;
    }
      
    .episodes-list {
        max-height: 215px;
        overflow-y: auto;
        padding: 10px;
      
        .episode-item {
          padding: 10px;
        }
      
        .episode-button {
            font-size: 1rem;
            color: #0dcaf0 ;
          
            &:hover {
              color: #000;
            }
        }
    }
}

  
@media (max-width: 991px) {
    .character-name {
        font-size: 2rem;
    }
  
    .info-card, .episodes-card {
        padding: 15px;
    }

    .character-card-image-container{ 
        margin-bottom: 1.5rem;
    }

    .episodes-list {
        max-height: fit-content;

        .card-header {
            padding: 10px;
        }

        .episode-item {
            padding: 10px 0;
        }
    }
}
  
@media (max-width: 576px) {
    .character-name {
        font-size: 1.8rem;
    }
  
    .character-image {
        width: 80%;
        margin: 0 auto;
    }
}