@import "variables";

.single-episode-container {
  background: $dark-bg-color;
  padding: 20px;
  border-radius: 10px;
  @include box-shadow($shadow-strong);
  margin-top: 61px;
}

.title-episode-name {
  @include font-setup(2.5rem, $font-weight-bold, 1.2, $text-color, $title-letter-spacing);
  font-family: $font-family;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.episode-card {
  background-color: $dark-bg-color !important;
  border: none;
  text-align: center;
  width: 50%;
  margin: 0 auto 20px;
  transition: width 0.3s ease-in-out;

  @media (max-width: 768px) {
    width: 100%;
  }
}
  
.characters-card {
  background-color: $light-bg-color;
  border: none;
}

.characters-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  margin: 10px;
  width: 18rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .characters-list-container {
    justify-content: center !important;
  } 
}